@import "@fortawesome/fontawesome-svg-core/styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    @apply h-screen w-screen overflow-y-scroll;
    @apply bg-gray-800 bg-opacity-60;
    @apply font-medium text-white;

    background-color: black;
    background-image: url('./bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  button:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }
}
